.github/**
.githooks/**
.test-dist/**
.vscode/**
src/**
test/**

.gitignore
SECURITY.md
docs/**
eslint.config.mjs
experiments/**
examples/README.md
package-lock.json
python-sample/**
samples/.konstelia/**
scripts/**
tsconfig*.json
*.vsix.sha256

dist/**/*.map
dist/cli.js

.konstelia/tours/**
!.konstelia/tours/sample-tour.tour.yaml
node_modules/**
!node_modules/@lezer/common/LICENSE
!node_modules/@lezer/cpp/LICENSE
!node_modules/@lezer/go/LICENSE
!node_modules/@lezer/highlight/LICENSE
!node_modules/@lezer/java/LICENSE
!node_modules/@lezer/javascript/LICENSE
!node_modules/@lezer/lr/LICENSE
!node_modules/@lezer/python/LICENSE
!node_modules/@lezer/rust/LICENSE
!node_modules/typescript/LICENSE.txt
!node_modules/typescript/ThirdPartyNoticeText.txt
!node_modules/yaml/LICENSE
